@import url(./components/poster.css);

/* PALETA */
:root {
  --color-fondo: #141414;
  --color-superficie: #1f1f1f;
  --color-primario: #e50914;
  --color-secundario: #00b4d8;
  --color-texto: #ffffff;
  --color-texto-suave: #b3b3b3;
}
